{% extends "category.html" %}
{% block title %}{{ SITENAME }} - {{ article.title }}{%endblock%}
{% block landing %}{% endblock landing %}
{% block content %}
    <div class="elu-cover">
        <div id="{{ article.slug }}" class="elu-container">
            <div class="elu-article">
                  <h1 class="elu-article-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
                      <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                      <address class="vcard author">Par
                      {% for author in article.authors %}
                          <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                      {% endfor %}
                      </address><!-- /.post-info -->
                  <div class="elu-article-content"> {{ article.content }} </div><!-- /.entry-content -->
             </div>
          </div>
    </div>
{% endblock content %}
