<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
    <head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_ATOM.format(slug=tag.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_RSS.format(slug=tag.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        {% endblock head %}
    </head>

    <body>
        <div class="elu-header">
            <a class="elu-brand" href="{{ SITEURL }}">Elukerio</a>
            <div class="elu-nav" id="menu">
                <div class="elu-list" id="menu-closed">
                {% if DISPLAY_CATEGORIES_ON_MENU %}
                    {% for cat, articles in categories %}
                        {% if cat != "misc" %}
                    <div class="elu-list-item"><a class="elu-nav-link" href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if DISPLAY_PAGES_ON_MENU %}
                    {% for p in pages %}
                    <div class="elu-list-item"><a class="elu-nav-link" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></div>
                    {% endfor %}
                {% endif %}
                    <div class="elu-list-item"><a class="elu-nav-link" href="#menu-closed">&#215;</a></div>
                    <div class="elu-list-item"><a class="elu-nav-link" href="#menu">&#9776;</a></div>
                </div>
            </div>
        </div><!-- /#menu -->
        {% block landing%}
        {% endblock landing%}
        {% block content %}
        {% endblock content %}<!-- /#content -->
        <div class="elu-cover elu-cover-dark elu-footer">
            <div class="elu-container center">
                Fait avec <span style="color: red">♥</span> par l'association <span class="brandish">Elukerio</span> avec le soutien d'<a href="https://www.alolise.org">Alolise</a> et de <a href="https://rezopole.net">Rezopole</a>.
                <br><br>
                <a href="{{ SITEURL }}/pages/cgu.html">Conditions Générales d'Utilisation</a> | <a href="{{ SITEURL }}/pages/legal.html">Mentions légales</a></a>
            </div>
        </div>
    </body>
</html>
