{% extends "index.html" %}
{% block title %}{{ SITENAME }} - {{ category }}{%endblock%}
{% block content %}
    {% if category == "Services" %}
        {% for article in articles_page.object_list %}
    <div id="{{ article.slug }}" class="{{ loop.cycle('elu-cover', 'elu-cover elu-cover-dark') }}">
      <div class="elu-container">
        <div class="elu-grid-container">
          <div class="fw-elem">
            <h1 class="brandish">{{ article.title }}</h1>
          </div>
          <div class="{{ loop.cycle('text', 'icon')}}-left-elem">
              {{ loop.cycle(article.content, '<img src="' + SITEURL + '/images/' + article.slug + '_dark.svg" alt="' + article.slug + '">') }}
          </div>
          <div class="{{ loop.cycle('icon', 'text')}}-right-elem">
              {{ loop.cycle('<img src="' + SITEURL + '/images/' + article.slug + '_dark.svg" alt="' + article.slug + '">', article.content) }}
          </div>
          {% if article.btn_text and article.btn_link %}
          <div class="fw-elem">
            <a href="{{ article.btn_link }}" class="elu-btn elu-btn-green">{{ article.btn_text }}</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
        {% endfor %}
    {% else %}
    <div class="elu-cover">
        {% for article in articles_page.object_list %}
        <div id="{{ article.slug }}" class="elu-container">
            <div class="elu-article">
                  <h1 class="elu-article-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
                      <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                      <address class="vcard author">Par
                      {% for author in article.authors %}
                          <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                      {% endfor %}
                      </address><!-- /.post-info -->
                  <div class="elu-article-content"> {{ article.summary }} </div><!-- /.entry-content -->
             </div>
          </div>
          {% endfor %}
    </div>
    {% endif %}
{% endblock content %}
