{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block landing %}
    {% if page_name == "index" or category %}
        {% for page in hidden_pages %}
            {% if page.slug == page_name or page.slug == category %}
    <div id="Elukerio" class="elu-cover elu-cover-dark elu-cover-s">
        <div class="elu-container">
            <div class="elu-grid-container">
                <div class="fw-elem">
                {% if page_name == "index" %}
                    <h1 class="brandish elu-main-title">{{ SITENAME }}</h1>
                {% else %}
                    <h1 class="brandish elu-main-title">{{ category }}</h1>
                {% endif %}
                </div>
                <div class="icon-left-elem">
                    <img src="{{ SITEURL }}/images/elukerio_logo_light.svg" height="200px" alt="Elukerio">
                </div>
                <div class="text-right-elem">
                    {{ page.content }}
                </div>
                {% if page.btn_text and page.btn_link %}
                <div class="fw-elem">
                    <a href="{{ page.btn_link }}" class="elu-btn elu-btn-green">{{ page.btn_text }}</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
                {% if page.launch_text and page.launch_link %}
    <div class="elu-cover elu-cover-show-more">
      <div class="elu-container elu-grid-container">
        <div class="fw-elem">
          <a href="{{ page.launch_link }}" class="elu-btn elu-btn-xl elu-btn-blue-out center" id="launch">{{ page.launch_text }}</a>
        </div>
      </div>
    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock landing %}
{% block content %}
{% endblock content %}
