{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title }}{%endblock%}

{% block content %}
    <div class="elu-cover">
        <div class="elu-container">
            <div class="elu-grid-container">
                <div class="fw-elem">
                    <h1 class="brandish elu-main-title">{{ page.title }}</h1>
                    <div class="elu-page-content"> {{ page.content }} </div><!-- /.page-content -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
