/*! normalize.css v8.0.0 | MIT License | github.com\/necolas\/normalize.css */
html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:0.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type=\"button\"],[type=\"reset\"],[type=\"submit\"]{-webkit-appearance:button}button::-moz-focus-inner,[type=\"button\"]::-moz-focus-inner,[type=\"reset\"]::-moz-focus-inner,[type=\"submit\"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=\"button\"]:-moz-focusring,[type=\"reset\"]:-moz-focusring,[type=\"submit\"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:0.35em 0.75em 0.625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=\"checkbox\"],[type=\"radio\"]{box-sizing:border-box;padding:0}[type=\"number\"]::-webkit-inner-spin-button,[type=\"number\"]::-webkit-outer-spin-button{height:auto}[type=\"search\"]{-webkit-appearance:textfield;outline-offset:-2px}[type=\"search\"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

/* Elukerio website stylesheet | GNU GPL v3 | @mablr */
body {
    margin: 0;
    font-family: 'Roboto';
    background-color: #F2EDE8;
    overflow-wrap: break-word;
}

a {
    color: #2f7ad8;
    text-decoration: none;
}

p {
    text-align: justify;
}

hr {
    display: none;
}

h1.elu-main-title {
    font-size: 62px;
    font-weight: 300;
    margin: 0;
}
.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}
/* Fonts */
@font-face {
    font-family: brandish;
    src: url('../fonts/brandish.ttf')
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.brandish {
  font-family: brandish;
}

.fw-elem {
    grid-column: 1/7;
}

.icon-left-elem {
    grid-column: 1/7;
}

.icon-right-elem {
    grid-column: 1/7;
}

.text-left-elem {
    grid-column: 1/7;
}

.text-right-elem {
    grid-column: 1/7;
}

/* Responsive */
@media (min-width: 576px) {
    .elu-container {
        max-width: 540px
    }

    .elu-grid-container > div {
        font-size: 20px;
    }

    .fw-elem {
      grid-column: 1/7;
    }

    .icon-left-elem {
      grid-column: 1/7;
    }

    .icon-right-elem {
      grid-column: 1/7;
    }

    .text-left-elem {
      grid-column: 1/7;
    }

    .text-right-elem {
      grid-column: 1/7;
    }
}

@media (min-width: 768px) {
    .elu-container {
        max-width: 720px
    }

    .elu-grid-container > div {
        font-size: 20px;
    }

    .elu-nav {
        text-align: center
    }

    .fw-elem {
      grid-column: 1/7;
    }

    .icon-left-elem {
      grid-column: 1/7;
    }

    .icon-right-elem {
      grid-column: 1/7;
    }

    .text-left-elem {
      grid-column: 1/7;
    }

    .text-right-elem {
      grid-column: 1/7;
    }
}

@media (min-width: 992px) {
    .elu-container {
        max-width: 960px
    }

    .elu-grid-container > div {
        font-size: 22px;
    }

    .elu-nav {
        text-align: center
    }

    .fw-elem {
      grid-column: 1/7;
    }

    .icon-left-elem {
      grid-column: 1/5;
    }

    .icon-right-elem {
      grid-column: 3/7;
    }

    .text-left-elem {
      grid-column: 1/2;
    }

    .text-right-elem {
      grid-column: 6/7;
    }
}

@media (min-width: 1200px) {
    .elu-container {
        max-width: 1140px
    }

    .elu-grid-container > div {
        font-size: 24px;
    }

    .elu-nav {
        text-align: center
    }

    .fw-elem {
      grid-column: 1/7;
    }

    .icon-left-elem {
      grid-column: 1/5;
    }

    .icon-right-elem {
      grid-column: 3/7;
    }

    .text-left-elem {
      grid-column: 1/2;
    }

    .text-right-elem {
      grid-column: 6/7;
    }
}

/* Grid system */
.elu-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 0px 50px;
}

.elu-grid-container > div {
    text-align: center;
    padding: 20px 0;
    max-width: 90vw;
}

/* Pagination */
.elu-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto
}

.elu-cover {
    min-height: 75vh;
    padding: 88px 5vw;
    padding-bottom: 0px;
}

.elu-cover-dark {
    background-color: #434d56;
    color: #fff;
}

.elu-cover-dark p {
    color: #ccc;
}

.elu-cover-dark a {
    color: #fff;
}

.elu-cover-s {
    min-height: 55vh;
    margin-bottom: -88px;
}

.elu-cover-show-more {
    display: block;
    min-height: 20vh;
    text-align: center;
}

.elu-footer {
    min-height: 20vh;
    padding: 3rem 0;
    background-color: #262a30;
    font-size: 20px;
}

/* Blog */

.elu-article {
    color: #ccc;
    margin: 18px 0;
    padding: 5vh 5vw;
    background-color: #434d56;
    border-radius: 12px;
}

h1.elu-article-title {
    font-size: 28px;
    margin-top: 0;
}

h1.elu-article-title a {
    color: #eee;
}

.elu-article-content {
    text-align: justify;
}

.elu-page-content {
    text-align: justify;
}

/* Navbar */
.elu-header {
    background-color: #262a30;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000
}

a.elu-brand, div.elu-brand {
    font-family: brandish;
    font-size: 36px;
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none
}

.elu-brand:hover, .elu-brand:focus, .elu-brand:active  {
    text-decoration: none;
    color: #fff
}

.elu-nav {
    font-size: 16px;
    box-shadow: 0 3px 3px rgba(36, 41, 46, 0.5);
    padding: 0 1em;
    height: 44px;
    overflow: hidden;
}

.elu-nav div.elu-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    max-height: 88px;
}

.elu-nav div.elu-list-item {
    display: inline-block
}

div .elu-nav-link {
    display: inline-block;
    padding: 0 20px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 44px;
    height: 44px
}

div .elu-nav-link:hover,
div .elu-nav-link:active,
div .elu-nav-link:focus {
    background-color: rgba(255, 255, 255, 0.08);
    text-decoration: none;
    box-shadow: initial
}

.elu-nav div.elu-list-item:last-child {
    position: absolute;
    right: 0;
    bottom: 44px;
    background-image: linear-gradient(to right, rgba(36, 41, 46, 0) 0, rgba(36, 41, 46, 1) 20px)
}

.elu-nav div.elu-list-item:nth-last-child(2) {
    display: none
}

.elu-nav#menu:target {
    height: auto;
    padding: 0
}

.elu-nav#menu:target div.elu-list {
    max-height: none
}

.elu-nav#menu:target div.elu-list-item {
    display: block;
    text-align: center
}

.elu-nav#menu:target .elu-nav-link {
    display: block;
    background-color: rgba(255, 255, 255, 0.05)
}

.elu-nav#menu:target .elu-nav-link:hover {
    background-color: rgba(255, 255, 255, 0.08)
}

.elu-nav#menu:target div.elu-list-item:not(:first-child) {
    margin-top: 2px
}

.elu-nav#menu:target div.elu-list-item:first-child {
    margin-right: 52px
}

.elu-nav#menu:target div.elu-list-item:first-child .elu-nav-link {
    padding-left: 68px
}

.elu-nav#menu:target div.elu-list-item:last-child {
    display: none
}

.elu-nav#menu:target div.elu-list-item:nth-last-child(2) {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0
}


/* Buttons */
.elu-btn {
    display: inline-block;
    text-decoration: none;
    margin: 8px;
    padding: 16px;
    font-size: 20px;
    border-radius: 3px;
    border-width: 3px;
    border-style: solid;
    max-width: 50vw;
}

.elu-btn-xl {
    font-size: 25px;
    padding: 25px 16px;
    border-radius: 4px;
}

.elu-btn-green {
    color: white;
    background-color: #019134;
    border-color: #019134;
}

.elu-btn-green:hover {
    background-color: #01B842;
    -webkit-transition: background-color 0.2s; /* Safari */
    transition: background-color 0.2s;
}

.elu-btn-blue-out {
    color: #1B5AC2;
    border-color: #1B5AC2;
}

.elu-btn-blue-out:hover {
    color: #4B87E7;
    border-color: #6296EA;
    -webkit-transition: border-color 0.3s; /* Safari */
    transition: border-color 0.3s;
    -webkit-transition: color 0.2s; /* Safari */
    transition: color 0.2s;
}

/* Icons */
.elu-icon {
  display: initial
}
